<html ng-app>
<ion-modal-view>


  <ion-header-bar>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>


  <ion-content>
    <form ng-submit="goToPage(stuff)"
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Tibetan Word:</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <textarea placeholder="Tibetan Definition:"></textarea>
        </label>
        <label class="item item-input">
          <span class="input-label">English Word:</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <textarea placeholder="English Definition:"></textarea>
        </label>


        
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click= 'thanksPage()'>Submit {{chonyi}} </button>

        </label>
        
      </div>
      </form> 
  </ion-content>


</ion-modal-view>
</html ng-app>